.form {
  max-width: 385px;
}

.form__fieldset {
  appearance: none;
  padding: 0;
  margin: 0;
}

.form__label {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter", Arial, sans-serif;
  margin-bottom: 32px;
  display: block;
  margin: 0;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.form__input {
  border-radius: 2px;
  width: 100%;
  min-height: 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  display: block;
  margin: 8px 0 32px 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  box-sizing: border-box;
}

.form__input::placeholder {
  color: #838383;
}

.form__button {
  width: 100%;
  padding: 0; 
  min-height: 60px;
  background: #2f71e5;
  color: #ffffff;
  border-radius: 2px;
  margin-bottom: 32px;
  transition: opacity 2s;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__checkbox {
  border-radius: 2px;
  min-width: 20px;
  min-height: 20px;
  vertical-align: middle;
  background-image: url("../images/check.svg");
  box-sizing: border-box;
}

.form__fieldset:last-of-type {
  border: none;
}

.form__button:hover {
  opacity: 0.7;
}
